.nav-link {
    color: black;
    font-size: 20px;
}

.navbar-brand {
    color: darkolivegreen;
}


#header {
    background-color: white;
}

#linkBar {
    background-color: lightgray;
}

body {
    background-color: white;
}

h1 {
    text-align: center;
    color: black;
    margin-top: 90px;
}

#logo {
    width: 400px;
    height: 200px;
    margin: auto;
    display: block;
}

#aboutUsText {
    color: black;
    margin-top: 20px;
}

#listOfServices {
    color: white;
    font-size: 30px;

}

#servicesHeader {
    font-size: 50px;
}

h2 {
    color: black;
}

h5 {
    color: black;
}

#contactSub {
    color: darkkhaki;
}
