.nav-link {
    color: black;
    font-size: 20px;
}

#linkBar {
    background-color: lightgray;
}


h1 {
    text-align: center;
    color: black;
    margin-top: 90px;
}

#aboutUsText {
    color: black;
    margin-top: 20px;
}


h2 {
    color: black;
}

h5 {
    color: black;
}



